<% if @message %>
  <p><%= "Fehler: #{@message}" %></p>
<% end %>

<div id="create_delete_container">
  <h1>Bitte füllen Sie die folgenden Felder aus:</h1>
  <div id="formular">
    <form action="/delete", method="post">
      Geben Sie hier die Kontonummer des zu löschenden Konto's ein:<br>
      <input type="text" name="lösche_konto_nr" placeholder="Kontonummer">
      <br>
      Geben Sie hier die zugehörige Pin ein:<br>
      <input type="password" name="lösche_pin" placeholder="Pin">
      <br><br>
      <button><a href="/" id="cancel_btn">Cancel</a></button>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
