<div id="list">
  <ul>
    <li><a href="/login_konto">Mit Konto Einloggen</a></li>
    <li><a href="/create_konto">Konto erstellen</a></li>
    <li><a href="/delete_konto">Bestehendes Konto löschen</a></li>
  </ul>
</div>
