<div id="list">
  <ul>
    <li><a href="/konto_auszug">Kontoauszug drucken</a></li>
    <li><a href="/konto_einzahlen">Geld einzahlen</a></li>
    <li><a href="/konto_auszahlen">Geld auszahlen</a></li>
    <li><a href="/konto_ueberweisen">Geld überweisen</a></li>
    <li><a href="/konto_pin_ändern">Pin ändern</a></li>
    <li><a href="/logout">Ausloggen</a></li>
  </ul>
</div>
