<% if @message %>
  <p><%= "Fehler: #{@message}" %></p>
<% end %>

<div id="login_container">
  <h1>Bitte füllen Sie die folgenden Felder aus:</h1>
  <div id="formular">
    <form action="/login", method="post">
      Geben Sie hier Ihre Kontonummer ein:<br>
      <input type="text" name="login_konto_nr" placeholder="Ihre Kontonummer">
      <br>
      Geben Sie hier Ihre Pin ein:<br>
      <input type="password" name="login_pin" placeholder="Ihre Pin">
      <br><br>
      <button><a href="/" id="cancel_btn">Cancel</a></button>
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
