<div id="pin_verification_container">
  <h1>Sie haben Ihre Pin erfolgreich geändert</h1>
  <p>Ihre neue Pin lautet: <%=@neue_pin%></p>
  <button id="cancel_btn"><a href="/logged_in_index" id="cancel_btn_link">Back</a></button>
</div>
